<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Comic Database - Profile Page </title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>


<div class="redBg">
    <div class="content">
    <div id="wrapper">


        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href= "#">
                        Comic Database
                    </a>
                </li>
                <li>
                    <a href="/profile">My Profile Page</a>
                </li>
                <li>                    
                    <a href = "/userdisplay"> Search </a>
                </li>
                <li>
                    <a href = "/addtodatabase"> Contribute </a>
                </li>
                <li>
                    <a href="/about.html">About</a>
                </li>
                <li>
                    <a href="/favorites">Favorites </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Welcome to profile page</h1>
                {{{fname}}}
                <p> This is our landing page!</p>
                
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>

                <h1> We also have a reccommendation system: <h1>
                <form method="POST" action ="/recommended">
                    <input type = "submit" value = "{{fname}}'s Recomendations">
                </form>


                <h2> Check Whats Trending </h2>

                <ul>
                    {{#each trending}}
                    <li>
                        {{this.title}}
                        <img src = "{{this.thumbnail}}.{{this.extension}}" height="40" width="40">
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</div>
</div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>